main{
  padding: 2rem;
}
@media screen and (max-width: 360px) {
  main {
      flex-direction: column;
  }
  aside {
      width: 100%;
  }
  article {
      width: 100%;
  }
}
body { 
    background-repeat:no-repeat;
    background-color: aliceblue;
  
  }
